<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>{{data.title}}</h1>
<br/>
<div mat-dialog-content>
    <mat-form-field>
        <fate-material placeholder="Rules" [(ngModel)]="data.body" rows="10" [buttons]="['bold', 'italic', 'underline', 'heading1', 'heading2', 'heading3', 'normal', 'indent', 'outdent', 'ordered', 'unordered', 'center', 'justify', 'left', 'right', 'undo']"></fate-material>
    </mat-form-field>
    <br/>
    <br/>
    <br/>
</div>
<div mat-dialog-actions class="edit-button-panel">
    <button class="edit-button" mat-raised-button color="primary" value="Confirm" [mat-dialog-close]="data" >Save</button>
    <button class="edit-button" mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>
<!-- <textarea  [(ngModel)]="data.body"></textarea> -->
