

::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
}

::ng-deep .mat-card-subtitle {
    margin-bottom: 4px !important;
}

::ng-deep .mat-h3 {
    margin-bottom: 4px !important;
}

h3 {
    margin-block-end: 0;
    margin-block-start: 8px;
}

ul {
  list-style:  none;  
  padding-left: 0;
}

li {
    margin-bottom: 12px;
}

agm-map {
    height: 600px;
}

::ng-deep .rule-list {
    padding-left: 19px !important;
}